@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Romanesco&display=swap');

:root{
    --basic-font: 'Odor Mean Chey', serif;
    --doge-font: 'Romanesco', cursive;
    --primary-color:#B45309;
    --secondary-color:#A78BFA;
    --third-color:#93C5FD;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    overflow: scroll;
    overflow-x: hidden;
}
.heading{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color);
}
.heading h1{
    font-family: var(--basic-font);
    text-align: center;
    font-size: 3rem;
    margin: auto;
}
.sub-main{
    margin: auto;
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
textarea{
    box-sizing: border-box;
    width: 43%;
    max-height: 20vh;
    display: block;
    padding: 1rem;
    margin-top: 2rem;
    margin: auto;
    font-family: var(--basic-font);
    font-size: x-large;
    border-radius: 10px;
    border: 5px solid black;
    background-color: var(--third-color);
}
.input ::placeholder{
    font-family: var(--basic-font);
    font-size: 2rem;
}
.button{
   margin: auto;
   padding: 15px;
   
}
.btn-translate{
    display: block;
    padding: 1rem;
    width: 25rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: var(--basic-font);
    border-radius: 10px;
    border: 4px solid black;
    background-color: transparent;
}
.btn-translate:hover{
    background-color: black;
    color: white;
}
.translated{
    width: 43%;
    height: 20vh;
    box-sizing: border-box;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--third-color);
    font-family: var(--doge-font);
    font-size: 3rem;
    padding:1rem;
    overflow: scroll;
    overflow-x: hidden;
}
footer{
    position: fixed;
    bottom: 0;
    height: 20vh;
    background-color: var(--primary-color);
    width: 100%;
}
footer h1{
    text-align: center;
    font-family: var(--basic-font);
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}
footer p{
    font-family: var(--basic-font);
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    width: 50rem;
    text-align: justify;
}

